body{
  font-family : "Montserrat",sans-serif;
  text-align: center;
  background-image: url("https://source.unsplash.com/1600x900/?white");
  background-repeat:round;
overflow-y: hidden;
}
.fdiv{
  background-color: #082032;
  width : 400px;
  height : 220px;
  margin : 100px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
  color : white;
}
#d{
  outline-style: none;
  border-top : none;
  border-left : none;
  border-right:none;
  border-bottom: groove 2px white;
  background-color: #082032;
  margin-bottom : 20px;
  color : white;
}
.fdiv h3{
  margin-bottom : 40px;
  padding-top : 10px;
  color : white;
}
.sdiv{
  background-color : #CF4647;
  width : 400px;
  height : 220px;
  margin : 100px;
  display : inline-block;
  position : relative;
  bottom : 420px;
  color :white;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
}
.sdiv h3{

  margin-bottom : 40px;
  padding-top : 10px;
}
#rup{
  outline-style: none;
  border-top : none;
  border-left : none;
  border-right:none;
  border-bottom: groove 2px white;
  background-color: #CF4647;
  margin-bottom : 20px;
  color : white;
}
.tdiv{
  width : 400px;
  height :220px;
  background-color : #3C1B1F;
  color : white;
  position:relative;
  left : 1050px;
  bottom : 740px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
}
.tdiv h3{

  margin-bottom : 40px;
  padding-top : 10px;
}
#celi{
  outline-style: none;
  border-top : none;
  border-left : none;
  border-right:none;
  border-bottom: groove 2px white;
  background-color: #3C1B1F;
  margin-bottom : 20px;
  color : white;
}
.fodiv{
  width : 400px;
  height :220px;
  background-color : #511281;
  color : yellow;
  position:relative;
  left : 100px;
  bottom : 740px;
  margin-top : 30px;
  color : white;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
}
.fodiv h3{

  margin-bottom : 40px;
  padding-top : 10px;
  color : white;
}
#farh{
  outline-style: none;
  border-top : none;
  border-left : none;
  border-right:none;
  border-bottom: groove 2px white;
  background-color: #511281;
  margin-bottom : 20px;
  color : white;
}
.fidiv{
  background-color : #346751;
  width : 400px;
  height : 220px;
  margin : 100px;
  display : inline-block;
  position : relative;
  bottom : 1060px;
  color :white;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
}
#per{
  outline-style: none;
  border-top : none;
  border-left : none;
  border-right:none;
  border-bottom: groove 2px white;
  background-color: #346751;
  margin-bottom : 20px;
  color : white;
}
.fidiv h3{

  margin-bottom : 40px;
  padding-top : 10px;
  color : white;
}
.sidiv{
  background-color : #FF6F5E;
  width : 400px;
  height :220px;
  color : white;
  position:relative;
  left : 1050px;
  bottom : 1380px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.8);
}
.sidiv h3{

  margin-bottom : 40px;
  padding-top : 10px;
  color : white;
}
#cg{
  outline-style: none;
  border-top : none;
  border-left : none;
  border-right:none;
  border-bottom: groove 2px white;
  background-color: #FF6F5E;
  margin-bottom : 20px;
  color : white;
}
#title{
  padding-top: 30px;

}
